{% extends 'main.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div id="promo">
    <div class="jumbotron text-center">
        <h1>Using Hybrid Cryptographic Algorithms to Secure File Storage in Cloud </h1>
        <p>This project is made using Python Programming/Flask and Hybrid Cryptography</p>
        <p><a href="/learn" class="btn btn-primary" role="button">Learn more</a></p>
        <p><a href="/process" class="btn btn-primary" role="button">Upload File</a></p>
    </div>
</div>
<div>
    <h1 class="text-center">Project By King Stephen</h1>
    <div class="container">
        <div class="row text-center">
            <div  style="text-align:center;  display: block; margin-left: auto; margin-right: auto; width: 100%;" class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4" style="text-align:center;"><img
                        src="/static/assets/img/mypic.jpeg" alt="" class="center" style=" display: block; margin-left: auto; margin-right: auto; width: 100%;">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}