
{% extends 'main.html' %}
{% block title %}Hybrid Cryptography{% endblock %}

{% block content %}

<div id="promo">
    <div class="jumbotron text-center">
        <h1>File storage using 3DES AES and Blowfish!</h1>
        <form action="/data/" method="post" enctype="multipart/form-data">
			<center><input type=file name=file>    Only *.txt files allowed.</center>
            <br><input type="submit" class="btn btn-primary" value="Upload & Process">
        </form>
    </div>
</div>

{% endblock %}